flows.json
[{"id":"55c82419.0300ec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e5c74af7.a781c","type":"tab","label":"Homebridge","disabled":false,"info":""},{"id":"2f8112e2.0105fe","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ade1ed43.56b61","type":"redmatic-homekit-bridge","z":"","name":"MagicMirror_","username":"CC:22:3D:CB:BC:09","pincode":"111-11-111","port":"51826"},{"id":"34055a86.a2dfd6","type":"websocket-listener","z":"","path":"ws://192.168.0.18:81/","wholemsg":"false"},{"id":"27b6f2d7.d44a86","type":"websocket-client","z":"","path":"ws://192.168.0.21:81/","tls":"","wholemsg":"false"},{"id":"d1dd7340.4980e8","type":"redmatic-homekit-switch","z":"55c82419.0300ec","bridgeConfig":"ade1ed43.56b61","name":"CyberPunk","x":130,"y":80,"wires":[["5c1cd0df.bc11b8"]]},{"id":"585b4df8.a521d4","type":"http request","z":"55c82419.0300ec","name":"TV websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/all?r=0&g=0&b=255","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":40,"wires":[[]]},{"id":"92e5ca0b.228ba","type":"inject","z":"55c82419.0300ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":40,"wires":[["585b4df8.a521d4","3887ec82.8caddc"]]},{"id":"9ce6ae74.8dbb68","type":"inject","z":"55c82419.0300ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":120,"wires":[["e61cd6ee.a2df4","ac2c6623.31bac"]]},{"id":"e61cd6ee.a2df4","type":"http request","z":"55c82419.0300ec","name":"bed websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/off","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":100,"wires":[[]]},{"id":"5c1cd0df.bc11b8","type":"switch","z":"55c82419.0300ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":80,"wires":[["585b4df8.a521d4","3887ec82.8caddc"],["e61cd6ee.a2df4","ac2c6623.31bac"]]},{"id":"3887ec82.8caddc","type":"http request","z":"55c82419.0300ec","name":"bed websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/all?r=255&g=0&b=0","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":20,"wires":[[]]},{"id":"ac2c6623.31bac","type":"http request","z":"55c82419.0300ec","name":"tv websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/off","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":80,"wires":[[]]},{"id":"270ba14d.0ff52e","type":"redmatic-homekit-switch","z":"55c82419.0300ec","bridgeConfig":"ade1ed43.56b61","name":"main_Light","x":130,"y":160,"wires":[["f6b64fc4.1ff34"]]},{"id":"f6b64fc4.1ff34","type":"http request","z":"55c82419.0300ec","name":"Tasmota Sonoff","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.33/cm?cmnd=Power%20TOGGLE","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":160,"wires":[[]]},{"id":"f40c5b3c.3e6a78","type":"redmatic-homekit-switch","z":"55c82419.0300ec","bridgeConfig":"ade1ed43.56b61","name":"Bed","x":110,"y":320,"wires":[["cffa8cc2.dbe248"]]},{"id":"efdbfc68.88143","type":"switch","z":"55c82419.0300ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":240,"wires":[["5b3b6d02.23a9e4"],["bba9d2d6.c9172"]]},{"id":"5b3b6d02.23a9e4","type":"http request","z":"55c82419.0300ec","name":"tv white","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/all?r=255&g=255&b=255","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":220,"wires":[["71204a5a.29eaac"]]},{"id":"bba9d2d6.c9172","type":"http request","z":"55c82419.0300ec","name":"off tv","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/off","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":260,"wires":[[]]},{"id":"e100fbcb.a0482","type":"redmatic-homekit-switch","z":"55c82419.0300ec","bridgeConfig":"ade1ed43.56b61","name":"TV","x":110,"y":240,"wires":[["efdbfc68.88143"]]},{"id":"cffa8cc2.dbe248","type":"switch","z":"55c82419.0300ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":320,"wires":[["e64bd170.9140e"],["f5b26d86.1a31d"]]},{"id":"e64bd170.9140e","type":"http request","z":"55c82419.0300ec","name":"bed white","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/all?r=255&g=255&b=255","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["1b92656e.882ae3"]]},{"id":"f5b26d86.1a31d","type":"http request","z":"55c82419.0300ec","name":"tv off","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/off","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":340,"wires":[[]]},{"id":"1b92656e.882ae3","type":"http request","z":"55c82419.0300ec","name":"bed brigt","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/set_brightness?c=100","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":320,"wires":[[]]},{"id":"71204a5a.29eaac","type":"http request","z":"55c82419.0300ec","name":"tv brigt","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/set_brightness?c=100","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":220,"wires":[[]]},{"id":"ab078629.51dc38","type":"bigtimer","z":"e5c74af7.a781c","outtopic":"","outpayload1":"/0","outpayload2":"=off","name":"Big Timer Work schedule","comment":"","lat":"51.461360","lon":" -0.376764","starttime":"330","endtime":"360","starttime2":"1185","endtime2":"1320","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":350,"y":40,"wires":[[],[],[]]},{"id":"abe85a86.8f0348","type":"websocket out","z":"e5c74af7.a781c","name":"TV_WEBsocket","server":"","client":"27b6f2d7.d44a86","x":580,"y":160,"wires":[]},{"id":"72a517de.b39ce8","type":"inject","z":"e5c74af7.a781c","name":"","topic":"","payload":"/39","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":60,"wires":[["abe85a86.8f0348","cae4c417.002b8"]]},{"id":"f5ca1a66.d73f7","type":"inject","z":"e5c74af7.a781c","name":"","topic":"","payload":"=off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":20,"wires":[["abe85a86.8f0348","cae4c417.002b8"]]},{"id":"f7d47772.16a008","type":"change","z":"e5c74af7.a781c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"manual","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":40,"wires":[["ab078629.51dc38"]]},{"id":"cae4c417.002b8","type":"websocket out","z":"e5c74af7.a781c","name":"BED_WEBsocket","server":"34055a86.a2dfd6","client":"","x":590,"y":120,"wires":[]},{"id":"fa654dc2.609b6","type":"switch","z":"55c82419.0300ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":560,"wires":[["c4c0df50.061638","c83bbebd.4b703"],["ab2e7565.0a2dd","30251db5.315282"]]},{"id":"c4c0df50.061638","type":"http request","z":"55c82419.0300ec","name":"TV websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18:81/18","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":520,"wires":[[]]},{"id":"ab2e7565.0a2dd","type":"http request","z":"55c82419.0300ec","name":"bed websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/off","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":580,"wires":[[]]},{"id":"c83bbebd.4b703","type":"http request","z":"55c82419.0300ec","name":"bed websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18:81/18","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":500,"wires":[[]]},{"id":"30251db5.315282","type":"http request","z":"55c82419.0300ec","name":"tv websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/off","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":560,"wires":[[]]},{"id":"3789c94b.cc1126","type":"websocket out","z":"2f8112e2.0105fe","name":"BED_WEBsocket","server":"34055a86.a2dfd6","client":"","x":610,"y":240,"wires":[]},{"id":"fd7cd168.625c38","type":"websocket out","z":"2f8112e2.0105fe","name":"TV_WEBsocket","server":"","client":"27b6f2d7.d44a86","x":600,"y":160,"wires":[]},{"id":"d7aa5f26.a13438","type":"switch","z":"2f8112e2.0105fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[["ed4c6833.3d671"],["389adfce.9880f8"]]},{"id":"ed4c6833.3d671","type":"change","z":"2f8112e2.0105fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/18","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["fd7cd168.625c38"]]},{"id":"389adfce.9880f8","type":"change","z":"2f8112e2.0105fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["3789c94b.cc1126"]]},{"id":"49721f52.916868","type":"redmatic-homekit-pseudobutton","z":"2f8112e2.0105fe","bridgeConfig":"ade1ed43.56b61","name":"PqqP","topic":"","payload":"true","payloadType":"bool","x":160,"y":140,"wires":[["d7aa5f26.a13438"]]},{"id":"6a792a15.156cfc","type":"switch","z":"55c82419.0300ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":740,"wires":[["45dcb095.84b588","28c8b933.70880e"],["f0790fa7.7361e8","4e87f507.369b1c"]]},{"id":"45dcb095.84b588","type":"http request","z":"55c82419.0300ec","name":"TV websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/23","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":700,"wires":[[]]},{"id":"f0790fa7.7361e8","type":"http request","z":"55c82419.0300ec","name":"bed websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/off","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":760,"wires":[[]]},{"id":"4e87f507.369b1c","type":"http request","z":"55c82419.0300ec","name":"tv websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.21/off","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":740,"wires":[[]]},{"id":"28c8b933.70880e","type":"http request","z":"55c82419.0300ec","name":"bed websocket","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.0.18/23","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":680,"wires":[[]]},{"id":"8a6be27f.3bef","type":"redmatic-homekit-switch","z":"e5c74af7.a781c","bridgeConfig":"ade1ed43.56b61","name":"Party","x":110,"y":120,"wires":[["17767335.7f3fbd","8444ad29.e2302"]]},{"id":"29cf304c.5bc218","type":"redmatic-homekit-switch","z":"e5c74af7.a781c","bridgeConfig":"ade1ed43.56b61","name":"Rock","x":110,"y":160,"wires":[["cca416bf.8a391","8444ad29.e2302"]]},{"id":"da00a7bd.b3faa","type":"redmatic-homekit-switch","z":"e5c74af7.a781c","bridgeConfig":"ade1ed43.56b61","name":"Rainbow","x":120,"y":200,"wires":[["a71448b9.1d105","8444ad29.e2302"]]},{"id":"b0484f1c.c3d808","type":"redmatic-homekit-switch","z":"e5c74af7.a781c","bridgeConfig":"ade1ed43.56b61","name":"Romantic","x":120,"y":240,"wires":[["4b6b83ff.b0fc1c","8444ad29.e2302","c2ccc98d.9fe98"]]},{"id":"17767335.7f3fbd","type":"change","z":"e5c74af7.a781c","name":"ChangeValue","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"/23","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"=off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":120,"wires":[["cae4c417.002b8","abe85a86.8f0348","8444ad29.e2302"]]},{"id":"cca416bf.8a391","type":"change","z":"e5c74af7.a781c","name":"ChangeValue","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"/39","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"=off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["cae4c417.002b8","abe85a86.8f0348","8444ad29.e2302"]]},{"id":"a71448b9.1d105","type":"change","z":"e5c74af7.a781c","name":"ChangeValue","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"/12","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"=off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["cae4c417.002b8","abe85a86.8f0348","8444ad29.e2302"]]},{"id":"4b6b83ff.b0fc1c","type":"change","z":"e5c74af7.a781c","name":"ChangeValue","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"/15","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"=off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["cae4c417.002b8","8444ad29.e2302"]]},{"id":"8444ad29.e2302","type":"debug","z":"e5c74af7.a781c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":360,"wires":[]},{"id":"c2ccc98d.9fe98","type":"change","z":"e5c74af7.a781c","name":"ChangeValue","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"/r=20&g=67&b=75","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"=off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["abe85a86.8f0348"]]}]